In [1]:
!pip install pandas
!pip install dask

Looking in indexes: https://repo.huaweicloud.com/repository/pypi/simple
Collecting pandas
  Downloading https://repo.huaweicloud.com/repository/pypi/packages/23/c0/4b71d4a9fbfe2fbe3e379bebc22bc935e4d09b7802899a5ac1b90bf090bb/pandas-2.0.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     |████████████████████████████████| 12.3 MB 52.7 MB/s eta 0:00:01
Collecting tzdata>=2022.1
  Downloading https://repo.huaweicloud.com/repository/pypi/packages/fa/5e/f99a7df3ae2079211d31ec23b1d34380c7870c26e99159f6e422dcbab538/tzdata-2022.7-py2.py3-none-any.whl (340 kB)
     |████████████████████████████████| 340 kB 33.7 MB/s eta 0:00:01
Requirement already satisfied: pytz>=2020.1 in /root/miniconda3/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /root/miniconda3/lib/python3.8/site-packages (from pandas) (2.8.2)
Collecting numpy>=1.20.3
  Downloading https://repo.huaweicloud.com/repository/pypi/packages/9c/ee/77768cade9607687fadbcc1dcbb82dba0554154b3aa641f9c17233ffabe8/numpy-1.24.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 33.3 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /root/miniconda3/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, numpy, pandas
  Attempting uninstall: numpy
    Found existing installation: numpy 1.18.5
    Uninstalling numpy-1.18.5:
      Successfully uninstalled numpy-1.18.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow-gpu 2.5.0 requires numpy~=1.19.2, but you have numpy 1.24.2 which is incompatible.
deepfri 0.0.1 requires numpy==1.18.5, but you have numpy 1.24.2 which is incompatible.
Successfully installed numpy-1.24.2 pandas-2.0.0 tzdata-2022.7
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Looking in indexes: https://repo.huaweicloud.com/repository/pypi/simple
Collecting dask
  Downloading https://repo.huaweicloud.com/repository/pypi/packages/07/93/32d3e317fec6d0fc130284f922ad9bd13d9ae0d52245e6ff6e57647e924c/dask-2023.5.0-py3-none-any.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 13.7 MB/s eta 0:00:01
Collecting fsspec>=2021.09.0
  Downloading https://repo.huaweicloud.com/repository/pypi/packages/37/57/eb7c3c10b187d3b8565946772ce0229c79e3c623010eda0aeb5032ff56f4/fsspec-2022.11.0-py3-none-any.whl (139 kB)
     |████████████████████████████████| 139 kB 42.5 MB/s eta 0:00:01
Requirement already satisfied: packaging>=20.0 in /root/miniconda3/lib/python3.8/site-packages (from dask) (21.0)
Collecting importlib-metadata>=4.13.0
  Downloading https://repo.huaweicloud.com/repository/pypi/packages/af/15/544ee37359dd4d8e490d1846062015f9d7d59b0f11e2e8e629917608e592/importlib_metadata-6.3.0-py3-none-any.whl (22 kB)
Collecting toolz>=0.10.0
  Downloading https://repo.huaweicloud.com/repository/pypi/packages/7f/5c/922a3508f5bda2892be3df86c74f9cf1e01217c2b1f8a0ac4841d903e3e9/toolz-0.12.0-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 10.3 MB/s eta 0:00:01
Collecting cloudpickle>=1.5.0
  Downloading https://repo.huaweicloud.com/repository/pypi/packages/25/40/2c9db9cfb85a8a21c61528f6660c47662b3e59576efac610d8268d47abba/cloudpickle-2.1.0-py3-none-any.whl (25 kB)
Collecting pyyaml>=5.3.1
  Downloading https://repo.huaweicloud.com/repository/pypi/packages/d7/42/7ad4b6d67a16229496d4f6e74201bdbebcf4bc1e87d5a70c9297d4961bd2/PyYAML-6.0-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (701 kB)
     |████████████████████████████████| 701 kB 32.8 MB/s eta 0:00:01
Collecting partd>=1.2.0
  Downloading https://repo.huaweicloud.com/repository/pypi/packages/1a/56/900aae94a28a7bcc0aa90a4be7b739d2221be98c2dfae6f51e34bba29aab/partd-1.4.0-py3-none-any.whl (18 kB)
Collecting click>=8.0
  Downloading https://repo.huaweicloud.com/repository/pypi/packages/c2/f1/df59e28c642d583f7dacffb1e0965d0e00b218e0186d7858ac5233dce840/click-8.1.3-py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 11.6 MB/s eta 0:00:01
Collecting zipp>=0.5
  Downloading https://repo.huaweicloud.com/repository/pypi/packages/5b/fa/c9e82bbe1af6266adf08afb563905eb87cab83fde00a0a08963510621047/zipp-3.15.0-py3-none-any.whl (6.8 kB)
Requirement already satisfied: pyparsing>=2.0.2 in /root/miniconda3/lib/python3.8/site-packages (from packaging>=20.0->dask) (2.4.7)
Collecting locket
  Downloading https://repo.huaweicloud.com/repository/pypi/packages/db/bc/83e112abc66cd466c6b83f99118035867cecd41802f8d044638aa78a106e/locket-1.0.0-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: zipp, toolz, locket, pyyaml, partd, importlib-metadata, fsspec, cloudpickle, click, dask
Successfully installed click-8.1.3 cloudpickle-2.1.0 dask-2023.5.0 fsspec-2022.11.0 importlib-metadata-6.3.0 locket-1.0.0 partd-1.4.0 pyyaml-6.0 toolz-0.12.0 zipp-3.15.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
import pandas as pd
import dask.dataframe as dd
from dask.distributed import Client, LocalCluster
import os
# Create a local cluster
# Get the number of physical cores
n_cores = os.cpu_count()
print(n_cores)
# Create a local cluster with one worker per core
cluster = LocalCluster(n_workers=int(n_cores/1.5), threads_per_worker=1)

# Connect to the cluster
client = Client(cluster)

# Your code here

import os
import csv

128

In [3]:
# os.chdir('./preprocessing')
alnRes = dd.read_csv('./data/alnRes.m8',sep='\t',header=None)
alnRes.columns = ['EntryID', 'col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8', 'col9', 'col10', 'col11']

alnRes.head(5)

,EntryID,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11
0,Q6ENB0,7f9o_Q,0.931,735,50,0,1,730,43,777,0.000000e+00,1354
1,Q6ENB0,7eu3_F,0.931,735,50,0,1,730,43,777,0.000000e+00,1354
2,Q6ENB0,7wg5_F,0.685,735,229,0,1,729,1,735,1.666977e-320,990
3,Q6ENB0,7wff_F,0.685,735,229,0,1,729,1,735,1.666977e-320,990
4,Q6ENB0,6khi_F,0.442,717,355,0,1,717,1,638,3.163000e-173,563

In [4]:
alnRes.compute().describe([.30])

,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11
count,1.378189e+07,1.378189e+07,1.378189e+07,13781891.0,1.378189e+07,1.378189e+07,1.378189e+07,1.378189e+07,1.378189e+07,1.378189e+07
mean,4.587226e-01,2.839119e+02,1.482073e+02,0.0,1.857246e+02,4.644306e+02,5.242068e+01,3.282708e+02,1.286453e-05,2.293885e+02
std,2.129429e-01,2.499623e+02,1.467580e+02,0.0,5.471455e+02,5.928421e+02,1.743324e+02,3.059957e+02,7.926572e-05,2.929405e+02
min,1.650000e-01,1.300000e+01,0.000000e+00,0.0,1.000000e+00,1.500000e+01,1.000000e+00,1.500000e+01,0.000000e+00,3.600000e+01
30%,3.190000e-01,1.600000e+02,6.800000e+01,0.0,1.700000e+01,2.480000e+02,4.000000e+00,1.820000e+02,6.822000e-65,9.000000e+01
50%,3.830000e-01,2.410000e+02,1.240000e+02,0.0,4.600000e+01,3.560000e+02,1.100000e+01,2.750000e+02,6.366000e-36,1.460000e+02
max,1.000000e+00,5.332000e+03,3.559000e+03,0.0,3.527700e+04,3.537500e+04,4.865000e+03,5.148000e+03,9.999000e-04,1.046800e+04

In [5]:
alnRes_clu = alnRes.col1.unique().compute().size
print("add clusters:",alnRes_clu)
alnRes_entry = alnRes.EntryID.unique().compute().size
print("Entry:",alnRes_entry)

add clusters: 570450
Entry: 112542

In [6]:
# Group the data by the id column
result = alnRes[alnRes['col10']<1e-6]
grouped = result.groupby('col1')

# Define a function to get the two rows with the smallest values in column 10 for each group
def get_smallest_two(group):
    return group.nsmallest(5, 'col10')
print('fliter')
# Apply the function to each group

result = grouped.apply(get_smallest_two, meta=result)

# Reset the index
result = result.compute()

result = result.reset_index(drop=True)
# Display the result
# print(result)
result.describe([.30])

fliter

2023-06-18 05:06:13,601 - distributed.worker.memory - WARNING - Unmanaged memory use is high. This may indicate a memory leak or the memory may not be released to the OS; see https://distributed.dask.org/en/latest/worker-memory.html#memory-not-released-back-to-the-os for more information. -- Unmanaged memory: 651.45 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:10:52,034 - distributed.worker.memory - WARNING - Unmanaged memory use is high. This may indicate a memory leak or the memory may not be released to the OS; see https://distributed.dask.org/en/latest/worker-memory.html#memory-not-released-back-to-the-os for more information. -- Unmanaged memory: 797.70 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:10:53,941 - distributed.worker.memory - WARNING - Unmanaged memory use is high. This may indicate a memory leak or the memory may not be released to the OS; see https://distributed.dask.org/en/latest/worker-memory.html#memory-not-released-back-to-the-os for more information. -- Unmanaged memory: 805.04 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:10:54,790 - distributed.worker.memory - WARNING - Worker is at 80% memory usage. Pausing worker.  Process memory: 874.46 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:10:55,326 - distributed.worker.memory - WARNING - Unmanaged memory use is high. This may indicate a memory leak or the memory may not be released to the OS; see https://distributed.dask.org/en/latest/worker-memory.html#memory-not-released-back-to-the-os for more information. -- Unmanaged memory: 789.55 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:10:56,241 - distributed.worker.memory - WARNING - Unmanaged memory use is high. This may indicate a memory leak or the memory may not be released to the OS; see https://distributed.dask.org/en/latest/worker-memory.html#memory-not-released-back-to-the-os for more information. -- Unmanaged memory: 787.11 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:10:56,538 - distributed.worker.memory - WARNING - Worker is at 80% memory usage. Pausing worker.  Process memory: 871.57 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:10:56,893 - distributed.worker.memory - WARNING - Unmanaged memory use is high. This may indicate a memory leak or the memory may not be released to the OS; see https://distributed.dask.org/en/latest/worker-memory.html#memory-not-released-back-to-the-os for more information. -- Unmanaged memory: 796.17 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:10:57,219 - distributed.worker.memory - WARNING - Worker is at 78% memory usage. Resuming worker. Process memory: 850.55 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:10:57,896 - distributed.worker.memory - WARNING - Worker is at 80% memory usage. Pausing worker.  Process memory: 867.95 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:10:58,612 - distributed.worker.memory - WARNING - Unmanaged memory use is high. This may indicate a memory leak or the memory may not be released to the OS; see https://distributed.dask.org/en/latest/worker-memory.html#memory-not-released-back-to-the-os for more information. -- Unmanaged memory: 799.89 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:10:58,883 - distributed.worker.memory - WARNING - Unmanaged memory use is high. This may indicate a memory leak or the memory may not be released to the OS; see https://distributed.dask.org/en/latest/worker-memory.html#memory-not-released-back-to-the-os for more information. -- Unmanaged memory: 799.31 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:10:58,899 - distributed.worker.memory - WARNING - Worker is at 80% memory usage. Pausing worker.  Process memory: 871.73 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:10:59,029 - distributed.worker.memory - WARNING - Worker is at 78% memory usage. Resuming worker. Process memory: 846.08 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:10:59,550 - distributed.worker.memory - WARNING - Worker is at 80% memory usage. Pausing worker.  Process memory: 878.08 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:10:59,986 - distributed.worker.memory - WARNING - Unmanaged memory use is high. This may indicate a memory leak or the memory may not be released to the OS; see https://distributed.dask.org/en/latest/worker-memory.html#memory-not-released-back-to-the-os for more information. -- Unmanaged memory: 782.35 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:00,178 - distributed.worker.memory - WARNING - Unmanaged memory use is high. This may indicate a memory leak or the memory may not be released to the OS; see https://distributed.dask.org/en/latest/worker-memory.html#memory-not-released-back-to-the-os for more information. -- Unmanaged memory: 791.96 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:00,187 - distributed.worker.memory - WARNING - Unmanaged memory use is high. This may indicate a memory leak or the memory may not be released to the OS; see https://distributed.dask.org/en/latest/worker-memory.html#memory-not-released-back-to-the-os for more information. -- Unmanaged memory: 790.37 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:01,001 - distributed.worker.memory - WARNING - Worker is at 80% memory usage. Pausing worker.  Process memory: 869.04 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:01,009 - distributed.worker.memory - WARNING - Worker is at 80% memory usage. Pausing worker.  Process memory: 868.02 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:01,028 - distributed.worker.memory - WARNING - Worker is at 79% memory usage. Resuming worker. Process memory: 857.47 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:01,390 - distributed.worker.memory - WARNING - Worker is at 78% memory usage. Resuming worker. Process memory: 849.18 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:01,873 - distributed.worker.memory - WARNING - Worker is at 78% memory usage. Resuming worker. Process memory: 855.29 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:02,685 - distributed.worker.memory - WARNING - Worker is at 80% memory usage. Pausing worker.  Process memory: 872.62 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:02,797 - distributed.worker.memory - WARNING - Worker is at 80% memory usage. Pausing worker.  Process memory: 877.65 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:02,809 - distributed.worker.memory - WARNING - Worker is at 80% memory usage. Pausing worker.  Process memory: 875.55 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:03,689 - distributed.worker.memory - WARNING - Worker is at 79% memory usage. Resuming worker. Process memory: 856.59 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:03,840 - distributed.worker.memory - WARNING - Worker is at 79% memory usage. Resuming worker. Process memory: 861.45 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:05,257 - distributed.worker.memory - WARNING - Worker is at 78% memory usage. Resuming worker. Process memory: 850.14 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:05,326 - distributed.worker.memory - WARNING - Worker is at 60% memory usage. Resuming worker. Process memory: 658.43 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:05,400 - distributed.worker.memory - WARNING - Worker is at 78% memory usage. Resuming worker. Process memory: 855.47 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:05,570 - distributed.worker.memory - WARNING - Unmanaged memory use is high. This may indicate a memory leak or the memory may not be released to the OS; see https://distributed.dask.org/en/latest/worker-memory.html#memory-not-released-back-to-the-os for more information. -- Unmanaged memory: 796.29 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:07,883 - distributed.worker.memory - WARNING - Worker is at 80% memory usage. Pausing worker.  Process memory: 872.37 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:10,677 - distributed.worker.memory - WARNING - Worker is at 79% memory usage. Resuming worker. Process memory: 864.17 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:19,959 - distributed.worker.memory - WARNING - Unmanaged memory use is high. This may indicate a memory leak or the memory may not be released to the OS; see https://distributed.dask.org/en/latest/worker-memory.html#memory-not-released-back-to-the-os for more information. -- Unmanaged memory: 789.14 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:22,496 - distributed.worker.memory - WARNING - Worker is at 80% memory usage. Pausing worker.  Process memory: 870.10 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 05:11:24,896 - distributed.worker.memory - WARNING - Worker is at 78% memory usage. Resuming worker. Process memory: 851.35 MiB -- Worker memory limit: 1.06 GiB

,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11
count,2.220585e+06,2.220585e+06,2.220585e+06,2220585.0,2.220585e+06,2.220585e+06,2.220585e+06,2.220585e+06,2.220585e+06,2.220585e+06
mean,7.007455e-01,3.004712e+02,9.067192e+01,0.0,1.033493e+02,4.004274e+02,1.504174e+01,3.106554e+02,3.904581e-09,4.083837e+02
std,2.617984e-01,2.923543e+02,1.436927e+02,0.0,4.753233e+02,5.553167e+02,5.545754e+01,2.952613e+02,4.466493e-08,4.350916e+02
min,1.770000e-01,1.800000e+01,0.000000e+00,0.0,1.000000e+00,2.100000e+01,1.000000e+00,1.800000e+01,0.000000e+00,4.500000e+01
30%,4.930000e-01,1.540000e+02,9.000000e+00,0.0,2.000000e+00,1.980000e+02,1.000000e+00,1.620000e+02,4.559000e-144,1.760000e+02
50%,7.360000e-01,2.400000e+02,4.700000e+01,0.0,1.400000e+01,2.970000e+02,3.000000e+00,2.490000e+02,4.742000e-82,2.770000e+02
max,1.000000e+00,5.332000e+03,3.559000e+03,0.0,3.527700e+04,3.537500e+04,4.334000e+03,5.148000e+03,9.988000e-07,1.046800e+04

In [7]:
result.to_csv('./data/alnRes_5byCLU.csv')

In [8]:
filter_clu = result.col1.unique().size
print("add clusters:",filter_clu)
print('del clusters:',alnRes_clu-filter_clu)
filter_entry = result.EntryID.unique().size
print("Entry:",filter_entry)
print('del Entry:',alnRes_entry-filter_entry)

add clusters: 560066
del clusters: 10384
Entry: 70669
del Entry: 41873

In [15]:
result2 = alnRes[alnRes['col10']<=1e-60]
result2.compute().describe([.30])

2023-06-18 04:46:52,408 - distributed.worker.memory - WARNING - Unmanaged memory use is high. This may indicate a memory leak or the memory may not be released to the OS; see https://distributed.dask.org/en/latest/worker-memory.html#memory-not-released-back-to-the-os for more information. -- Unmanaged memory: 804.34 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 04:46:52,491 - distributed.worker.memory - WARNING - Unmanaged memory use is high. This may indicate a memory leak or the memory may not be released to the OS; see https://distributed.dask.org/en/latest/worker-memory.html#memory-not-released-back-to-the-os for more information. -- Unmanaged memory: 806.05 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 04:46:52,573 - distributed.worker.memory - WARNING - Worker is at 80% memory usage. Pausing worker.  Process memory: 869.71 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 04:46:52,574 - distributed.worker.memory - WARNING - Unmanaged memory use is high. This may indicate a memory leak or the memory may not be released to the OS; see https://distributed.dask.org/en/latest/worker-memory.html#memory-not-released-back-to-the-os for more information. -- Unmanaged memory: 869.71 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 04:46:52,687 - distributed.worker.memory - WARNING - Worker is at 57% memory usage. Resuming worker. Process memory: 627.67 MiB -- Worker memory limit: 1.06 GiB
2023-06-18 04:46:52,725 - distributed.worker.memory - WARNING - Worker is at 87% memory usage. Pausing worker.  Process memory: 0.93 GiB -- Worker memory limit: 1.06 GiB
2023-06-18 04:46:52,796 - distributed.worker.memory - WARNING - Worker is at 45% memory usage. Resuming worker. Process memory: 491.26 MiB -- Worker memory limit: 1.06 GiB

,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11
count,4.429860e+06,4.429860e+06,4.429860e+06,4429860.0,4.429860e+06,4.429860e+06,4.429860e+06,4.429860e+06,4.429860e+06,4.429860e+06
mean,6.287138e-01,4.303339e+02,1.762776e+02,0.0,1.196980e+02,5.446187e+02,3.089267e+01,4.528418e+02,6.994112e-63,4.803307e+02
std,2.296400e-01,3.531053e+02,2.143038e+02,0.0,3.997497e+02,5.335888e+02,1.406221e+02,3.862059e+02,5.869817e-62,4.109411e+02
min,1.910000e-01,8.400000e+01,0.000000e+00,0.0,1.000000e+00,8.400000e+01,1.000000e+00,8.400000e+01,0.000000e+00,2.050000e+02
30%,4.550000e-01,2.780000e+02,5.900000e+01,0.0,4.000000e+00,3.290000e+02,2.000000e+00,2.880000e+02,1.752000e-153,2.890000e+02
50%,5.800000e-01,3.510000e+02,1.340000e+02,0.0,2.200000e+01,4.280000e+02,5.000000e+00,3.630000e+02,6.183000e-109,3.650000e+02
max,1.000000e+00,5.332000e+03,3.559000e+03,0.0,3.314700e+04,3.356700e+04,4.714000e+03,5.148000e+03,1.000000e-60,1.046800e+04

In [6]:
# result = pd.read_csv('./data/alnRes_2byCLU.csv',sep='\t')
# result.describe()

In [7]:
fluster_clu = result2.col1.unique().compute().size
print("fluster_clus:",fluster_clu)
fluster_entry = result2.EntryID.unique().compute().size
print("fluster_Entry:",fluster_entry)

fluster_clus: 405560
fluster_Entry: 70827

In [8]:
print('del clusters:',alnRes_clu-fluster_clu)
print('del Entry:',alnRes_entry-fluster_entry)

del clusters: 164890
del Entry: 41715

In [9]:
chain_go = pd.read_csv('./data/train_terms.tsv',sep='\t')
print('add GO terms',chain_go.term.unique().size)

add GO terms 31466

In [11]:
train_chain_go = pd.merge(result[['EntryID','col1']], chain_go[['EntryID', 'term']],how='left')

In [ ]:
old_data = pd.read_csv('./data/pdb_chain_go.tsv',sep='\t',skiprows=1)
old_data.head(5)

    PDB CHAIN SP_PRIMARY           WITH_STRING EVIDENCE       GO_ID
0  101m     A     P02185  UniProtKB-KW:KW-0479      IEA  GO:0046872
1  101m     A     P02185  UniProtKB-KW:KW-0561      IEA  GO:0005344
2  101m     A     P02185  UniProtKB-KW:KW-0561      IEA  GO:0015671
3  102m     A     P02185  UniProtKB-KW:KW-0479      IEA  GO:0046872
4  102m     A     P02185  UniProtKB-KW:KW-0561      IEA  GO:0005344

In [12]:
_ = old_data.PDB + old_data.CHAIN
print('original clus:',_.unique().size)

original clus: 418330

In [13]:
print('add clus from fluster_clu:' ,len(set(result.col1.unique().compute()).difference(_.unique())))
print('more clus from alnRes:' ,len(set(alnRes.col1.unique().compute()).difference(_.unique())))

AttributeError: 'DataFrame' object has no attribute 'unique'

In [15]:
new_data = pd.DataFrame({
    'PDB': train_chain_go['col1'].str.split('_').str[0],
    'CHAIN': train_chain_go['col1'].str.split('_').str[1],
    'SP_PRIMARY': train_chain_go['EntryID'],
    'WITH_STRING': 'Kaggle',
    'EVIDENCE': 'train',
    'GO_ID': train_chain_go['term']
})

# Write the new DataFrame to a TSV file
new_data.head(5)

    PDB CHAIN SP_PRIMARY WITH_STRING EVIDENCE       GO_ID
0  11gs     B     V9HWE9      Kaggle    train  GO:0005829
1  11gs     B     V9HWE9      Kaggle    train  GO:0005622
2  11gs     B     V9HWE9      Kaggle    train  GO:0043229
3  11gs     B     V9HWE9      Kaggle    train  GO:0043226
4  11gs     B     V9HWE9      Kaggle    train  GO:0110165

In [16]:
pdb_chain_go_new = pd.concat([old_data,new_data], axis=0)
pdb_chain_go_new.to_csv('./data/pdb_chain_go_new_5byclu.tsv',index=False,sep='\t')